* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
}

body {
	background: #fff;
	color: #000;
	font: 18px/1.4 Courier, monospace;
}

footer,
header,
section {
	margin: 100px auto;
}

h1 {
	font-size: 2.8em;
	font-weight: 300;
	line-height: 1;
	text-align: center;
}

a {
	color: #007aff;
	text-decoration: none;
	transition: color .2s ease;
}

a:hover {
	color: #5856d6;
}

.table {
	display: table;
	width: 100%;
}

.table ul {
	display: table-cell;
	list-style-position: inside;
	padding: 0;
}

@media (max-width: 710px) {
	.table ul {
		display: block;
	}
}

header {
	text-align: center;
}

header img {
	max-width: 500px;
	width: 100%;
}

main {
	margin: 0 auto;
	max-width: 710px;
	padding: 0 25px;
}

footer {
	color: #bec9d3;
	font-size: .8em;
	text-align: center;
}

section {
	text-align: justify;
}

#contact {
	text-align: center;
}

#contact a {
	background: #000;
	color: #fff;
	display: inline-block;
	font-size: 1.6em;
	padding: 15px 30px;
	text-transform: uppercase;
	transition: background .6s ease;
}

#contact a:hover {
	background: #007aff;
}
